/* Nav */
.sgds-masthead a:hover {
    color: #3d68bd;
    text-decoration: none;
}

.sgds-navbar-start a.sgds-navbar-item, 
.sgds-navbar-end a.sgds-navbar-item:hover, 
.sgds-navbar-end a.sgds-navbar-item:focus {
    color: #3d68bd;
    border-bottom: 5px solid #3d68bd;
}

.sgds-navbar-start .sgds-navbar-item {
    pointer-events: none;
}


/* Body */
.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

.flex-wrapper, .custom-file-label, .custom-select {
    background-color: #f5f5f5 !important;
}

.sgds-section {
    padding: 1.5rem;
}


/* Footer */
.ica-logo {
    height: 5rem;
}

.top-section {
    background-color: #dadada !important;
    padding: 1rem 2rem !important;
}

.sgds-footer>.bottom-section .row .col.is-12{
    padding-top: .75rem;
}